<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Quorum" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Quorum">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-page text-ink text-[13px] leading-normal [font-family:Verdana,Geneva,Arial,sans-serif]">
    <%= render Ui::MastheadComponent.new(current_user: current_user) %>
    <%= render Ui::NavBarComponent.new(current: @nav_current || :forums) %>
    <% if @announcement %>
      <%= render Ui::AnnouncementBarComponent.new(text: @announcement) %>
    <% end %>

    <div class="max-w-[1200px] mx-auto px-4 pt-5 pb-10">
      <%= yield %>
    </div>

    <%= render Ui::FooterComponent.new %>
  </body>
</html>
